.App {
    padding-bottom: 3em;

}

*{
  box-sizing: border-box;
}

.App-logo {
    animation: App-logo-appearance 1.6s ease-in;
    height: 80px;
    background: white;
    padding: 15px 0;
    border-radius: 3px;
}
.App-header {
    font-style: oblique;
    background-color: #333;
    padding: 20px 0 5px;
    color: white;
    text-align: center;
}


.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #777;
}
.sidebar ul li {
  color:rgba(230, 230, 230, 0.9);
  padding:20px 10px;
  border-bottom: 1px solid #333
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}


.container {
  padding-left: 200px;
}
