.dashboard{
    /* padding-bottom: 100px; */
    /* height: 100%; */
    /* position: absolute; */
}

.dashboard-row{
    width: 100%;
    margin: 0 -5px;
}

.dashboard-content{
    /* display: inline-block;
    width: 75%;
    padding-bottom: 20px;
    border-radius: 3px;
    background-color: #ededed; */
}
